<div class="jumbotron">
	<h1>About Us</h1>
	<h2>Our Vision</h2>

	<p>
		Following Jesus we shall live for people not yet in the Kingdom and shoulder our responsibility to disciple increasing
		numbers of new believers. We will allow him to make us spiritually healthy. empowered by His Spirit and resourceful, able to care for those he brings to us.
	</p>

	<p>
		We will achieve our vision by, with courage, building church in the pattern of Acts 2:42-47
	</p>

	<p>
		Raising devotion to the Word of God to stimulate the spread of God's word.
		Encouraging table fellowship in church, home and cafe, to build joyful, Christ centred, relationships.
		Moving beyond friendliness to sharing life together in a community of evident, sacrificial love, releasing untapped potential of young & old, migrant & born kiwi.
		Overflowing his love to our community, our homes, our workplaces and the world.
		Praying, in all things at all times, seeking the power of God for healing and witness for the growth of his kingdom in Avonhead and the world.
		Testifying to his wonders and miraculous signs, and the Good News of Jesus.
		Becoming a people filled with awe of God, praising God from a deep sense of wonder.
		Receiving and discipling those whom the Lord is saving and brings among us.
	</p>

	<h2>Staff</h2>
	<p>
		Minister: Bruce White
		Children, Youth & Family: Wendy Weusten
		Administrator: Olive White
		Children: Tim Weusten
		Youth: Nicky Exton
	</p>

</div>
