<div class="jumbotron">
	<h1>Contact Us</h1>
	<p>
		The best way to make inquiries about Avonhead Baptist throughout the week is to call the office.
		In the Office
	</p>

	<p>
		Olive: Phone 348-6742, Email: admin@avonheadbaptist.org
	</p>

</div>
